@mixin textStyle ($color, $ffamily, $lspacing, $fsize, $fweight, $lheight) {
    color: $color;
    font-family: $ffamily;
    letter-spacing: $lspacing; // по умолчанию normal
    font-size: $fsize;
    font-weight: $fweight;
    line-height: $lheight; // по умолчанию normal
}

//        @include textStyle (rgb(49, 49, 49), $MainFont, 1px, 16px, 400, 32px);